html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.redbar {
  background: #d35649;
  width: 100%;
}

.redbar-2 {
  background: #d35649;
  width: 100%;
  height: 320px;
}

.redbar-3 {
  background: #89898b;
  width: 100%;
  height: 320px;
}

.redbar-4 {
  background: #6070ff;
  width: 100%;
  height: 320px;
}

.bg-gray {
  background-color: #aaa3a3;
}

.hover-black:hover {
  color: black;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links a {
  margin: 20px;
}

.search-items {
  margin-top: 100px;
}

.main-search {
  padding: 2em 0 2.5em 1.8em;
  text-align: left;
  width: 70%;
  margin: auto;
  border-radius: 5px;
  flex-direction: column;
  font-size: 14px;
}

.text-input[type="search"] {
  width: 90%;
  height: 2em;
  border: none;
  padding-left: 0.5em;
}

.btn-search {
  padding: 0.5em 1em;
  width: 30%;
  margin-left: 1px;
  background: #d35649;
}

.img-in {
  width: 200px;
  height: 200px;
}

.text-find {
  margin-left: 20px;
}

.many-img {
  margin-left: 80px;
}

.img-in-2 {
  width: auto;
  height: 200px;
  margin-left: 50px;
}

.many-items {
  padding-left: 100px;
}

.text-color {
  color: #d35649;
}

.icons {
  text-decoration: none;
  color: gray;
}

.icon-group-item {
  text-decoration: none;
  color: #fff;
}

.nav-logo img {
  width: 300px;
  height: auto;
}

.search-area {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    transparent url(assets/service-provider.jpg) center center/cover no-repeat;
  height: 400px;
}

.search-heading {
  font-size: 18px;
}

.how-items {
  margin: 20px;
}

.font-16 {
  width: 500px;
}

.font-12 {
  font-size: 18px;
}

.btn-how {
  margin-top: 20px;
}

.footer-links {
  border-top: solid white 1px;
  border-bottom: solid wheat 1px;
  margin-top: 30px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.bg-links {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-logo {
  top: 0;
  left: 50%;
  padding: 1.8em 2em 1.7em 2em;
}

.footer-btn {
  padding: 0.2em 0.5em;
  border-radius: 2px;
  background-color: rgb(99, 93, 93);
}

.info-links {
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  .redbar {
    flex-direction: column;
  }

  .top-nav {
    flex-direction: column;
  }

  .hidden {
    display: none;
  }

  .text-btn {
    flex-direction: column;
  }

  .how-items {
    flex-direction: column;
  }

  .circle-2 {
    display: none;
  }

  .footer-links {
    flex-direction: column;
  }

  .info-links {
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .item-1 {
    display: none;
  }

  .info-links {
    flex-direction: row;
  }

  .how-items {
    flex-direction: row;
  }
}
