::-webkit-scrollbar {
  display: none;
}

.redbar {
  background: #d35649;
  height: 50px;
  padding: 20x;
}

.text-color {
  color: #d35649;
}

.icons {
  text-decoration: none;
  color: gray;
}

.icon-group-item {
  text-decoration: none;
  color: #ffffff;
}

.logo-link img {
  width: 100px;
  height: 30px;
}

.top-section {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  transparent url(./assets/jumbo-img.jpg) center center/cover no-repeat;
  height: 400px;
}

.search-item {
  margin-top: 20px;
}

.how-items {
  margin: 20px;
}

.font-16 {
  width: 500px;
}

.font-12 {
  font-size: 18px;
}

.btn-how {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .redbar {
    flex-direction: column;
  }

  .how-items {
    flex-direction: column;
  }
}